body {
	min-height: 100vh; /* vh = viewport-height */
	background-color: #ccc;
}

.layout-chat {
	background-color: #00000052;
    padding: 30px 0;
}



/*---===#@#===---===#@#===---===#@#===---===#@#===---===#@#===---===#@#===---===#@#===---===#@#===---===#@#===---*/



/*----------------------------------------------
     Chat
----------------------------------------------*/

.chat {
    height: 100vh;
}

.chat__mensagens {
	padding: 30px;
	max-height: 80%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #00000007;	
	background-image: url(https://picsum.photos/g/1500/800?random);
}

.chat__mensagens::-webkit-scrollbar {
	width: 10px;
}

.chat__mensagens::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color:  #00000015;
}

.chat__mensagem {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin: 10px 0 0 0;
}

.chat__foto-perfil {
	width: 60px;
	height: 60px;
	background-color: #ccc;
	border-radius: 50%;
	overflow: hidden;
}

.chat__foto-perfil img {
	width: 100%;
}

.chat__texto {
	width: 75%;
    margin: 10px 15px;    
    color: #fff;
    font-size: 15px;
	padding: 15px;
}

.chat__mensagem--autor {
	flex-direction: row-reverse;
}

.chat__mensagem--autor .chat__texto {
	background-color: #70b16bdd;
	border-radius: 15px 0 15px 15px;
}
    
.chat__mensagem--receptor .chat__texto {
	background-color: #7fc1c7dd;
	border-radius: 0 15px 15px 15px;
}

.chat__formulario {
	padding:  20px 0 ;
	height: 20%;
	display: flex;
	background-color: #e6e6e6;

}

.chat__formulario textarea {
    height: 10vh;
    width: 100%;
    background-color: #fff;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    font-size: 15px;
    color: #545454;
}


.chat__formulario textarea:focus {
	background-color: #f3f3f3;
	outline: none;
}

.chat__formulario textarea::-webkit-scrollbar {
	width: 10px;
}

.chat__formulario textarea::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color:  #00000015;
}



/*----------------------------------------------
     botao
----------------------------------------------*/

.botao {
	background-color: #004667;
	height: 10vh;
	width: 100%;
    color: #d0f0ff;
    border: none;
    border-radius: 10px;
    padding: 0 20px;
    cursor: pointer;
}