<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">

	<title>SymptBot Gorgin</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">

</head>
<body>		

	<div class="chat">

		<div class="chat__mensagens">
			<div class="container">
				<div class="row">
					<div class="col-12">

						<div class="chat__mensagem chat__mensagem--receptor">
							<div class="chat__foto-perfil">
								<img src="https://api.adorable.io/avatars/200/ImagenEstabelecimento.png">
							</div>
							<p class="chat__texto">
								Olá MUNDO !!!!!!!!!!! In a semper felis. Aenean molestie magna vitae iaculis rutrum. Vestibulum nibh est, vehicula et leo quis, sollicitudin aliquam augue. Praesent efficitur dui quis orci imperdiet lacinia. In eget justo id odio convallis elementum. Nulla auctor ante vitae lacinia eleifend. Quisque ac dictum nisi. Pellentesque non elementum nulla. Cras vel sodales quam. Quisque sed est nulla. Nam aliquam placerat massa quis fermentum.


							</p>
						</div>

						<div class="chat__mensagem chat__mensagem--autor">
							<div class="chat__foto-perfil">
								<img src="https://api.adorable.io/avatars/200/ImagenEstabelecimento.png">
							</div>
							<p class="chat__texto">
								Olá MUNDO !!!!!!!!!!! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet mauris eu orci feugiat, ut finibus nunc semper. Praesent eget mi sed sem molestie sodales. Aenean facilisis et augue non sagittis. Phasellus nec sodales tellus. Fusce non tortor ullamcorper diam fringilla rutrum eu id lorem. Ut semper, erat non lacinia efficitur, orci orci dignissim lacus, eu pretium ex sem vel diam. Donec porta odio id egestas ultricies.
							</p>
						</div>

						<div class="chat__mensagem chat__mensagem--receptor">
							<div class="chat__foto-perfil">
								<img src="https://api.adorable.io/avatars/200/ImagenEstabelecimento.png">
							</div>
							<p class="chat__texto">
								Olá MUNDO !!!!!!!!!!! In a semper felis. Aenean molestie magna vitae iaculis rutrum. Vestibulum nibh est, vehicula et leo quis, sollicitudin aliquam augue. Praesent efficitur dui quis orci imperdiet lacinia. In eget justo id odio convallis elementum. Nulla auctor ante vitae lacinia eleifend. Quisque ac dictum nisi. Pellentesque non elementum nulla. Cras vel sodales quam. Quisque sed est nulla. Nam aliquam placerat massa quis fermentum.


							</p>
						</div>

						<div class="chat__mensagem chat__mensagem--autor">
							<div class="chat__foto-perfil">
								<img src="https://api.adorable.io/avatars/200/ImagenEstabelecimento.png">
							</div>
							<p class="chat__texto">
								Olá MUNDO !!!!!!!!!!! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet mauris eu orci feugiat, ut finibus nunc semper. Praesent eget mi sed sem molestie sodales. Aenean facilisis et augue non sagittis. Phasellus nec sodales tellus. Fusce non tortor ullamcorper diam fringilla rutrum eu id lorem. Ut semper, erat non lacinia efficitur, orci orci dignissim lacus, eu pretium ex sem vel diam. Donec porta odio id egestas ultricies.
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>

		<form class="chat__formulario">

			<div class="container">
				<div class="row">
					<div class="col-8">

						<textarea></textarea>

					</div>
					<div class="col-4">

						<input type="submit" value="ENVIAR" class="botao ">

					</div>
				</div>
			</div>

		</form>	

	</div>

</body>
</html>